.footer {
  background-color: var(--background-dark-green);
}
.footer_content {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: var(--gap-lg);
  padding: var(--padding-xl) 20px;
}
.main_footer_content {
  display: grid;

  gap: var(--gap-sm);
}
.contact_information_title {
  font-size: var(--font-sm);
  color: var(--shade-ivory-text);
}
.contact_information_list {
  list-style: disc;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.contact_information_list_item {
  margin-top: var(--spacing-xs);
  font-size: var(--font-xs);
  color: var(--shade-ivory-text);
}
.contact_link {
  display: inline-block;
  word-wrap: break-word;
}
.contact_link {
  font-size: var(--font-xs);
}
.contact_link {
  color: var(--shade-ivory-text);
  border-bottom: 1px solid var(--shade-ivory-text);
}
.contact_information_list_icon {
  width: var(--width-sm-v2);
}
.social_networks {
  margin-top: var(--spacing-lg);
}
.contact_information_list {
  list-style: none;
  grid-template-columns: repeat(2, auto);
}
.iframe_map_location {
  border-radius: var(--border-radius-xl);
  width: 100%;
  height: 300px;
}

.create_by {
  text-align: center;
}
.create_by_link {
  font-size: 14px;
  color: var(--shade-ivory-text);
  width: 100%;
  font-family: "SosGro_U";
}
