.language_switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 120px;
  padding: 5px 10px;
  z-index: 10000;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px -16px;
  background-color: var(--background-dark-green);
}

.lang_button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-family: "SosGro_U";
  border-radius: 50%;
  background-color: transparent;
  color: var(--shade-ivory-text);
}
