.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}

@font-face {
  font-family: "SosGro_U";
  src: url("../../fonts/ArianAMUSerif/arnamu_serif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.title_global,
.menu_title_global {
  font-size: var(--font-xxl);
  text-transform: uppercase;
  text-align: center;
  color: var(--shade-forest-text-h);
  font-family: "SosGro_U";
}

.menu_title_global,
.main_menu_title_global {
  font-size: var(--font-sm);
  text-align: center;
  text-decoration: none;
}

.title_global_welcome {
  font-size: var(--font-xxl);
  font-weight: 100;
  font-family: "SosGro_U";
}

.paragraph_global {
  font-size: var(--font-sm);
  display: inline;
  font-family: "SosGro_U";
}

.nostalgia_logo {
  color: var(--shade-forest-text-h);
  font-family: "SosGro_U";
}

.location_global_a {
  color: var(--shade-forest-text-h);
  text-decoration: underline;
  font-family: "SosGro_U";
}

/* Footer location link */
.location_global_a:nth-child(2) {
  color: var(--shade-ivory-text);
}

.global_title_footer {
  font-size: var(--font-xs);
  color: var(--shade-ivory-text);
  font-family: "SosGro_U";
}

.button {
  font-size: var(--font-xs);
  padding: 10px 5px;
  border-radius: var(--border-radius-xl);
  background-color: var(--background-dark-green);
  color: var(--background-text-white-button);
  border: 1px solid var(--background-dark-green);
  text-transform: uppercase;
  transition: 0.1s ease-in;
  cursor: pointer;
  font-family: "SosGro_U";
  &:hover {
    color: var(--shade-forest-text-button);
    background-color: var(--background-white-button);
  }
}

.button:nth-child(1){
  padding: 10px 90px;
}

.link_global {
  font-size: var(--font-sm);
  text-transform: uppercase;
  color: var(--shade-forest-text-a);
  font-family: "SosGro_U";
}

.link_global::after {
  content: "";
  display: block;
  padding-top: 10px;
  border-bottom: 1px solid var(--background-dark-green);
  transition: 0.1s ease-in;
  width: 0;
}

.link_global:hover::after {
  width: 100%;
}