.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 35px 0;
  z-index: 100;
  background-color: var(--background-shade-sand);
  box-shadow: 1px 1px 20px -13px;
}
.nav {
  display: grid;
  grid-template-columns: minmax(13%, 0) 4fr 1fr;
  align-items: center;
  justify-content: end;
}
.logo_header {
  text-align: center;
  width: 100%;
  font-size: var(--font-lg);
  color: var(--shade-forest-text-h);
  text-transform: uppercase;
  cursor: pointer;
}
.list_box {
  display: grid;
  place-content: center;
  padding: 0 var(--padding-xl);
}
.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: var(--gap-md);
}

.header_form_content_popup {
  display: grid;
  position: absolute;
  top: 21%;
  left: 50%;
  z-index: 8;
  transform: translate(-50%, -129%);
  width: var(--width-xxl);
  background: var(--background-dark-green);
  border-radius: var(--border-radius-xl);
}

.close_header_button_popup {
  width: 30px;
  background-color: transparent;
  border: none;
  justify-self: end;
  margin: 20px;
  cursor: pointer;
}

.telegram_form {
  display: grid;
  place-content: center;
  padding: var(--padding-lg);
  gap: 30px;
}

.telegram_info_form {
  color: #fff;
  max-width: 286px;
}

.popup_title {
  font-size: var(--font-lg);
}

.popup_p {
  font-size: var(--font-xs);
}

.input {
  width: var(--width-sm);
  height: var(--height-md);
  font-size: var(--font-md);
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: var(--border-radius-lg);
  color: var(--shade-ivory-text);
  background-color: rgba(255, 255, 255, 0.27);
}
input:-webkit-autofill {
  appearance: none;
  -webkit-appearance: none;
}
.input_label {
  top: 18px;
  left: 14px;
  display: grid;
  white-space: nowrap;
  user-select: none;
  z-index: -1;
  font-size: var(--font-x);
  color: var(--shade-ivory-text);
  transition: 0.3s ease-in;
}
.input:focus + label,
.input:not(:placeholder-shown) + .input_label {
  top: -30px;
}
.submit_button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--background-white-button);
  color: var(--shade-forest-text-button);
  border: none;
  cursor: pointer;
  border-radius: 100px;
  transition: var(--transition-fast);
}
.spinner {
  position: absolute;
  top: 10px;
  left: 45%;
  display: none;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
.submit_button:hover {
  background-color: var(--shade-forest-text-button);
  color: var(--background-white-button);
}
.burger_menu {
  position: relative;
  width: 50px;
  z-index: 6;
  cursor: pointer;
  display: none;
}

.burger_menu_content {
  position: inherit;
  z-index: 100;
}

.burger_line {
  display: block;
  margin-bottom: 7px;
  width: 100%;
  border: 2px solid var(--background-dark-green);
  border-radius: 6px;
}
.burger_line:nth-child(3) {
  margin-bottom: 0;
}
.burger_slide_content {
  position: fixed;
  transform: translate(200px);
  z-index: 7;
  width: 240px;
  height: 150vh;
  margin-top: 43px;
  background-color: var(--background-shade-sand);
  border-radius: 30px 0;
}

.list_box_burger {
  display: grid;
  place-content: center;
}
