/* Carousel__________________________________ */

.carousel_content {
    position: relative;
    margin-top: 110px;
    column-gap: 50px;
    width: 100%;
    overflow: hidden;
}

.artists_title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    color: var(--shade-ivory-text);
    backdrop-filter: blur(10px);
    padding: 0 20px;
    box-shadow: inset 0px 0px 50px -30px black;
    border-radius: 20px;
}

.button_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.carousel_box {
    display: flex;
    justify-content: center;
    height: 88vh;
}
.carousel_box_fig {
    min-width: 100%;
}
.carousel_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel_button {
    background-color: transparent;
    border: none;
    height: 100px;
    cursor: pointer;
}
.carousel_button_img {
    width: clamp(20px, 10vw, 40px);
}
/* Carousel__________________________________ *