.nav {
    grid-template-columns: minmax(100px, 1fr) 4fr 50px;
    justify-items: center;
}
.logo_header {
    width: var(--width-xs);
    padding: 10px;
}

.burger_menu {
    display: block;
}
.list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    gap: 20px;
    padding-top: 40px;
}
.list_box{
    display: none;
}
.link_item {
    display: block;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 18px;
    font-size: var(--font-md);
    color: var(--shade-forest-text-a);
}
.button {
    grid-area: 1;
}
.footer_content {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
.map_location {
    grid-column: span 2;
}